{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-inner">
  <div class="page-header">
    <div class="page-title">FireApp</div>
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="{%url 'dashboard-chart' %}">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{%url 'dashboard-chart' %}">Pages</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
    </ul>
  </div>
  <div class="page-category">This website is used by the Fire Department.</div>
</div>
{% endblock %}
